{% extends "base/base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='analysis/analysis.css') }}">
<script src="{{ url_for('static', filename='register/jquery.autocomplete.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
{% if warning %}
<div class="row alert-overall alert alert-danger text-justify" role="alert">
    <div class="inner-alert">
        <i><strong>Warning!</strong> Some of the data saved is over a year old and may cause errors. Please advise the administrator to refresh the database yearly and archive old records.</i>
    </div>
</div>
{% endif %}
<div class="row text-white cover-box justify-content-center"><h1>Individual Club Analysis</h1></div>

<div class="cover-box text-muted">
    <form id="student-select" class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="form-group mb-3">
                <label class="col-xl-6 col-md-12 control-label" for="name">Club Name</label>
                <div class="col-xl-6 col-md-12">
                    <div class="input-group mb-1">
                        <input id="club" name="club" type="text" placeholder="Club's Name" class="form-control" required="">
                        <div class="input-group-append">
                            <input id="submit" type="submit" class="btn btn-success"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input id="club-id" name="club-id" type="hidden" >
                        <span class="help-block">Begin typing to see a list of suggestions</span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<div class="hidden" style="display: none;">
    <div class="row justify-content-around">
        <div class="col col">
            <div id="Attendance-Holder" class="cover-box" style="height: 50vh;">
                <canvas id="Attendance"></canvas>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col col-6">
            <div id="ClubBreakdown-Holder" class="cover-box" style="height: 50vh;">
                <canvas id="ClubBreakdown"></canvas>
            </div>
        </div>
        <div class="col col-6 text-white">
            <div class="row cover-box" style="height: 16vh;">
                <p style="font-size: 2vw;"><strong class="club-name">Club Name</strong> has been attended <strong id="FlashOne">0</strong> time(s) overall throughout the year</p>
            </div>
            <div class="row cover-box" style="height: 16vh;">
                <p style="font-size: 2vw;"><strong class="club-name">Club Name</strong> has been attended more than five times by <strong id="FlashTwo">0</strong> people (person)</p>
            </div>
            <div class="row cover-box" style="height: 16vh;">
                <p style="font-size: 2vw;"><strong class="club-name">Club Name</strong> has had <strong id="FlashThree">0</strong> session(s) so far throughout the year</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col col-12">
            <a id="generate-analysis" href="/generate-club">
                <button style="width: 100%;" class="btn btn-success mt-2 mb-3 ml-2">Download Analysis Spreadsheet</button>
            </a>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='analysis/club.js') }}"></script>
{% endblock %}