/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

body {
  background: #383735;

  background: -webkit-linear-gradient(to right, #383735, #5c5a58);
  background: linear-gradient(to right, #383735, #5c5a58);

  background-image: url('../bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  min-height: 100vh;
  overflow-x: hidden;
}

.login {
  margin-top: auto;
  margin-bottom: auto;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.submit-btn {
	position: relative;
	top: 20px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-top: 20px;
}

.input {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
  border: none;
  outline: none;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #ffee05, #ff1605);
  background: -o-linear-gradient(left, #ffee05, #ff1605);
  background: -moz-linear-gradient(left, #ffee05, #ff1605);
  background: linear-gradient(left, #ffee05, #ff1605);
}

.focus-input::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input::after {
  top: -15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::after {
  top: -15px;
}

.has-val.input + .focus-input::before {
  width: 100%;
}

.padlock {
  font-size: 64px;
  margin-top: 40px;
  color: grey;
}

@keyframes spin {
    from {
        color: white;
        transform:rotate(0deg);
    }
    to {
        color: grey;
        transform:rotate(360deg);
    }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1,0,.5,1);
}

/*
*
* ==========================================
* POP UPS
* ==========================================
*
*/

.modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#failure-header {
  background: #fc4e03;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

#success-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
  }

.form-control {
  min-height: 40px;
  border-radius: 3px;
}

.icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
  margin: auto;
}

.icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}

.modal-dialog {
  margin-top: 80px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1,0,.5,1);
}