body, html, .container-fluid, .page-content {
     height: 100%;
}

.help-block {
    font-size: 0.75rem;
}

.alert-overall {
  margin: 0;
  position: absolute;
  top: 0;
  left: 17rem;

  width: calc(100% - 17rem);
  z-index: 2;

  border-radius: 0px;
  transition: all ease 0.5s;
}

.alert-overall.active {
    left: 0;
    width: calc(100%);
}

@media (max-width: 768px) {
  .alert-overall {
    left: 0;
    width: calc(100%);
  }
}

.inner-alert {
    position: static;
    width: 100%;
    z-index: 3;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }