{% from "macros/popups.html" import successNotification with context %}
{% from "macros/popups.html" import failureNotification with context %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Online Register</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!-- Google icons addon -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='authenticate/style.css') }}">
	<script src="{{ url_for('static', filename='base/base.js') }}"></script>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>

<body>
	<!-- Start container -->
	
	<div class="container-fluid">

		<!-- Start Content -->

		<form method="POST" action="auth" autocomplete="off">

			<div class="login">

				<div class="row justify-content-center">
					<span class="material-icons md-light padlock spin">lock</span>
				</div>

				<div class="row justify-content-center">
					<div class="col col-3 justify-content-center">
						<div class="wrap-input validate-input" data-validate="Enter username">
							<input class="input" type="username" name="username" required>
							<span class="focus-input" data-placeholder="Username"></span>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col col-3 justify-content-center">
						<div class="wrap-input validate-input" data-validate="Enter password">
							<input class="input" type="password" name="password" required>
							<span class="focus-input" data-placeholder="Password"></span>
						</div>
					</div>
				</div>
			</div>

			<center>
				<input type="submit" class="btn btn-dark submit-btn" value="Login"></button>
			</center>

		</form>

		<!-- End Content -->

		{% with errors = get_flashed_messages(category_filter=["error"]) %}
		{% with success = get_flashed_messages(category_filter=["success"]) %}

		{% if errors %}
		{{ failureNotification( errors[-1] ) }}
		{% endif %}


		{% if success and not errors %}
		{{ successNotification( success[-1] ) }}
		{% endif %}

		{% endwith %}
		{% endwith %}

		<!-- Popups -->

		<!-- Success Modal -->
		<div id="success" class="modal fade">
		  <div class="modal-dialog modal-confirm">
			<div class="modal-content">
			  <div class="modal-header" id="success-header">
				<div class="icon-box">
				  <i class="material-icons spin">&#xE876;</i>
				</div>
			  </div>
			  <div class="modal-body text-center">
				<h4>Success</h4>
				<br />
				<p id="success-message"></p>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Failure Modal -->
		<div id="failure" class="modal fade">
		  <div class="modal-dialog modal-confirm">
			<div class="modal-content">
			  <div class="modal-header" id="failure-header">
				<div class="icon-box">
				  <i class="material-icons spin">&#xe15b;</i>
				</div>
			  </div>
			  <div class="modal-body text-center">
				<h4>Failure</h4>
				<br />
				<p id="failure-message"></p>
			  </div>
			</div>
		  </div>
		</div>
		<!-- End Popups -->
	</div>
	<!-- End container -->

	<!-- Custom JS -->
	<script>
	$('.input').each(function(){
        $(this).on('blur', function(){
            if($(this).val().trim() != "") {
                $(this).addClass('has-val');
            }
            else {
                $(this).removeClass('has-val');
            }
        })
    })
    </script>
</body>

</html>